<script src="/js/three.js"></script>
<script src="/js/libs/tween.min.js"></script>
{{ template "unite" . }}
<div class="row clearfix">
    <div class="col-md-4 column">
        <div class="jumbotron well">
            <!--<img alt="300x200" src="http://lorempixel.com/600/200/people" width="200"/>-->
            <div class="caption">
                <p>
                    <a id="ygo_play" class="btn btn-primary" href="javascript:function(){}">快速游戏</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 column">
        <div class="jumbotron well">
            <!--<img alt="300x200" src="http://lorempixel.com/600/200/people" width="200"/>-->
            <div class="caption">
                <p>
                    <a id="ygo_neaten" class="btn btn-primary" href="javascript:(function(){})()">整理卡组</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
//$('#ygo').hide();
//Start();
$('#ygo_play').click(function() {
    WsMatchCompetitors(function(r) {
        if (!r) {
            return true
        }

        console.log(r)
        if (r.status == "init") {
            $.get("/ygo", function(result) {
                $("#page").html(result);
                $('#ygo').show();
                StartGame();
            });
            MsgInfo("游戏开始")
            $('#home').hide();

            return true
        } else if (r.error == "") {
            MsgInfo("加入队列请等待")
        } else {
            MsgErr(r.error)
        }
        return false
    })
});


$('#ygo_neaten').click(function() {
    $.get("/ygo", function(result) {
        $("#page").html(result);
        $('#ygo').show();
        StartNeaten();
    });
    $('#home').hide();
});


$("#ygo_play").grumble({
    text: 'Click me! 点我啊！',
    hideOnClick: true,
    angle: 150,
    distance: 20,
    showAfter: 100,
    hideAfter: false
});
</script>
