<script>
    //用户注册
function WsRegister(args,i) {
    ws.SendMsg({{key "Auth.Users.Register"}},args,i);
}
    //用户登入
function WsLogIn(args,i) {
    ws.SendMsg({{key "Auth.Users.LogIn"}},args,i);
}

    //游戏匹配
function WsMatchCompetitors(i) {
    ws.SendMsg({{ key "Chan.Room.MatchCompetitors" }},{} ,i);
}

    //游戏卡牌操作
function WsSelectable(uniq,method) {
    ws.SendMsg({{ key "Chan.Room.GameCardActionSelectable" }},{uniq:uniq,method:method} ,null);
}

    //游戏事件注册
function WsGameRegister(f) {
    ws.SendMsg({{ key "Chan.Room.GameRegister" }},{} ,f);
}

    //获得卡组
function WsGameGetDeck(f) {
    ws.SendMsg({{ key "Chan.Room.GameGetDeck" }},{} ,f);
}

    //设置卡组
function WsGameSetDeck(args) {
    ws.SendMsg({{ key "Chan.Room.GameSetDeck" }},args ,null);
}

    //卡牌搜索
function WsCardFind(args,f) {
    ws.SendMsg({{ key "Chan.Room.CardFind" }},args ,f);
}
</script>