<script src="js/base64.js"></script>

<script>
	Base64.extendString();
	//var ws = new WebSocket("ws://127.0.0.1:3006/");
	var ws = new WebSocket("ws://" +window.location.host + "/conn");
	ws.onopen = function(e){
		MsgInfo("Welcome back");
	};
	ws.onmessage = function(e){
		d = e.data.fromBase64();
		msg = JSON.parse(d.slice(4, d.length));
		this.event( d.charCodeAt(0), d.charCodeAt(1), d.charCodeAt(2), d.charCodeAt(3), msg );
	};
	
	ws.onclose = function(e){
		MsgErr("Connect close")
	};
	
	ws.onerror = function(e){
	};
	
	ws.Callback = {};
	ws.i = 0;
	
	ws.SendMsg = function(c,msg,func) {
		if (this.readyState == this.OPEN) { 
			if(typeof msg != "string") {
				msg = JSON.stringify(msg);
			}

			this.i = (this.i+1)& 0x7F;
			var cs = c.split(",");
			c1 = Number(cs[0]);
			c2 = Number(cs[1]);
			c3 = Number(cs[2]);
			console.log(this.i,c1,c2,c3,msg);
			var r = (String.fromCharCode(this.i & 0xFF, c1 & 0xFF, c2 & 0xFF, c3 & 0xFF) + msg).toBase64();
			this.send(r);
			if(typeof func == "function"){
				this.Register(this.i + "," + c,func);
			}
		} 
	};
	
	ws.event = function(i, c1, c2, c3, msg){
		var n = c1 + "," + c2 + "," +c3;
		var n2 = i+","+n;
		if((typeof msg.error == "string") && msg.error != ""){
			MsgErr(msg.error);
		}else if(typeof this.Callback[n2] == "function"){
			var t = this.Callback[n2](msg);
            console.log(n2, msg);
			if(t == true){
				this.Unregister(n2);
			}
		}else if(typeof this.Callback[n] == "function"){
			var t = this.Callback[n](msg);
            console.log(n, msg);
			if(t == true){
				this.Unregister(n);
			}
		}else {
			this.Missing(i, c1, c2, c3, msg);
		}
	};

	ws.Missing = function(i, c1, c2, c3, msg){
		console.log("missing",i, c1, c2, c3, msg);
	};
    
	ws.Unregister = function(c){
		delete this.Callback[c];
	};
    
	ws.Register = function(c,func){
		this.Callback[c] = func;
	};
</script>