<div id="ygo">
<link rel="stylesheet" type="text/css" href="css/container.css" />

<script src="js/three.js"></script>
<script src="js/libs/tween.min.js"></script>
<script src="js/controls/TrackballControls.js"></script>
<script src="js/renderers/CSS3DDoubleRenderer.js"></script>


<div id="container"></div>
<script>
    var camera, scene, renderer;
    var controls;
    var objects = [];
    var selectable;
    var allCard = {};
    var PI = 3.1415926539;
    var Step = function(func){
        window.setTimeout(func,1000);
    }
</script>

{{ template "ygosocket" . }}
{{ template "ygodesk" . }}
{{ template "ygoselectable" . }}
{{ template "ygocard" . }}
{{ template "ygoplayer" . }}
<script>

var YGO = function(){
    this.players = []
    var t = this
    var flag = (new Desk(0)).flag()
    this.msg = new Element();
    this.msg.element.innerHTML="<h1>游戏开始</h1>";
    this.msg.element.className="flag0";
    Move(this.msg.object,(new Desk(0)).flagup(),1000)
    //var flags=["Draw","Standby","Main1","Battle","Main2","End"]
    this.flags=["INIT","DP","SP","MP1","BP","MP2","EP"]
    for(var i =0;i!=7;i++){
        var e = new Element();
        e.element.innerHTML="<h1>"+ this.flags[i]+ "</h1>";
        e.element.className="flag0";
        e.element.id = this.flags[i];
        this["flag"+i] = e;
        Move(e.object,flag(i),1000)
    }

    WsRegister(function(e){
        if(typeof e.method  == "string"){
            if(typeof t[e.method] == "function") {
                t[e.method](e.args);
            }
            else MsgErr(e.method)
        }
    });
}



YGO.prototype.flagName = function(args){
    var t = this.users[args.player]
    this["flag0"].element.innerHTML = "<h1>回合"+ args.round+"</h1>";
}

YGO.prototype.message = function(args) {
    MsgInfo(args.message)
    this.msg.element.innerHTML = "<h1>"+args.message+"</h1>"
}

YGO.prototype.selectCard = function(args){
    selectable.removeall()
    var t = this
    selectable.register(function(obj){
        if(obj.master == t.players[args.master] && obj.master[args.pos] == obj.hold){
            WsSelectable(obj.uniq,0)
        }
        selectable.removeall()
    })
}


YGO.prototype.useCard = function(args){
    selectable.removeall()
    var t = this
    selectable.register(function(obj){
        if(obj.master == t.players[args.master] && obj.master[args.pos] == obj.hold){
            WsSelectable(obj.uniq,0)
        }
        selectable.removeall()
    })
}


YGO.prototype.finishSelect = function(args){
    selectable.removeall()
    selectable.unregister()
    selectable.unsubmit()
}

YGO.prototype.optionCard = function(args){
    //this.submit(args.uniq,["Call","Place","Use","Discard"])
    selectable.submit(args.uniq,args.list)
}

YGO.prototype.exprCard = function(args){
    var t = allCard[args.uniq];
    if((args.expr & (1 << 30))!=0){
        t.FaceUp()
    }else if((args.expr & (1 << 29))!=0){
        t.FaceDown()
    }
    if((args.expr & (1 << 28))!=0){
        t.Attack()
    }else if((args.expr & (1 << 27))!=0){
        t.Defense()
    }
}

YGO.prototype.flagStep = function(args){
    var t = this
    window.clearInterval(t.stepInterval)
    for(var i =1;i!=7;i++){
        var e = t["flag"+i].element
        e.innerHTML="<h1>"+ t.flags[i]+ "</h1>";
        if(args.step==i){
            e.className="flag1";
            if(typeof args.wait == "number" ){
                var ti = args.wait/1000000000;
                var tf = t.flags[i]
                var e1 = t["flag"+i].element
                e1.innerHTML="<h1>"+ tf+ "(" +ti+ "s)</h1>";
                t.stepInterval = window.setInterval(function(){
                    ti--
                    e1.innerHTML="<h1>"+ tf+ "(" +ti+ "s)</h1>";
                    if(ti == 0){
                        window.clearInterval(t.stepInterval)
                    }
                },1000)
            }
        }else{
            e.className="flag0";
        }
    }
}

YGO.prototype.flashCards = function(args){
    this.players[args.master][args.pos].flash()
}

YGO.prototype.moveCard = function(args){
    if(allCard[args.uniq] == null){
        allCard[args.uniq] = new Card(args.uniq,this.players[args.master]);
    }
    allCard[args.uniq].master.moveCard(args.uniq,args.pos)

}

YGO.prototype.setFront = function(args){
    allCard[args.uniq].SetFront(args.desk)
}


YGO.prototype.init = function(args){
    var t = this
    t.users = args.users;
    t.index = args.index;
    if(t.users instanceof Array) {
        for(var i = 0;i!=t.users.length;i++){
            var k = i + t.index;
            if(k >= t.users.length){
                k = k - t.users.length;
            }
            t.players[i] = new Player(k,i,t.users[i]);
        }
        MsgInfo("游戏开始")
    }else {
        MsgErr("初始化游戏错误");
    }
    return true;

}

YGO.prototype.over = function(){

}


</script>
{{ template "ygoinit" . }}
</div>