<div id="ygo">
<link rel="stylesheet" type="text/css" href="css/container.css" />

<script src="js/three.js"></script>
<script src="js/libs/tween.min.js"></script>
<script src="js/controls/TrackballControls.js"></script>
<script src="js/renderers/CSS3DDoubleRenderer.js"></script>


<div id="container"></div>

<script>

var camera, scene, renderer;
var controls;

var objects = [];
var selectable;
var PI = 3.1415926539;



var Step = function(func){
    window.setTimeout(func,1000);
}

var Desk = function(i){
    this.site = [
        1,3,
        1,5, //融合卡
        19,1,
        19,3, //墓地
        19,5, //卡组
        4,4,  //魔陷
        7,4,
        10,4,
        13,4,
        16,4,
        4,2,  //怪兽
        7,2,
        10,2,
        13,2,
        16,2,
        7,7,  //手牌
        8,7,
        9,7,
        10,7,
        11,7,
        12,7,
    ]
    this.x = 0;
    this.y = 0;

    if(i == 0){
        this.angle =  0;
    }else if(i == 1){
        this.angle =  PI;
    }else if(i == 1){
        this.angle =  PI*0.5;
    }else if(i == 1){
        this.angle =  PI*1.5;
    }
}

Desk.prototype.flagup = function(){
    var object = new THREE.Object3D();
    object.position.x = 0;
    object.position.y = 50;
    return object;
}

Desk.prototype.flag = function(){
    var x = 2;
    var y = 0.5;
    var a = this.angle;
    return function(i){
        var object = new THREE.Object3D();
        var rotation = new THREE.Matrix4().makeRotationZ(a);
        object.matrix.makeTranslation(
                ( (x + i) * 200 ) - 1000 ,
                - ( y * 150 ),
                0);
        object.applyMatrix(rotation);
        return object;
    }
}


Desk.prototype.datum = function(){
    var x = 5;
    var y = 7;
    var a = this.angle;
    return this.Pile(x,y,a);
}

Desk.prototype.deck = function(){
    var x = 16;
    var y = 5;
    var a = this.angle;
    return this.Pile(x,y,a);
}

Desk.prototype.removed = function(){
    var x = 16;
    var y = 1;
    var a = this.angle;
    return this.Pile(x,y,a);
}

Desk.prototype.grave = function(){
    var x = 16;
    var y = 3;
    var a = this.angle;
    return this.Pile(x,y,a);
}

Desk.prototype.field = function(){
    var x = 4;
    var y = 3;
    var a = this.angle;
    return this.Pile(x,y,a);
}

Desk.prototype.extra = function(){
    var x = 4;
    var y = 5;
    var a = this.angle;
    return this.Pile(x,y,a);
}

Desk.prototype.hand = function(){
    var x = 7;
    var y = 6;
    var a = this.angle;
    return this.Tile(x,y,a);
}

Desk.prototype.mzone = function(){
    var x = 10;
    var y = 2;
    var a = this.angle;
    return this.Mid(x,y,a);
}


Desk.prototype.szone = function(){
    var x = 10;
    var y = 4;
    var a = this.angle;
    return this.Mid(x,y,a);
}


Desk.prototype.Mid = function(x,y,a){
    var rotation = new THREE.Matrix4().makeRotationZ(a);
    return function(i){
        var object = new THREE.Object3D();
        if(i%2==0){
            object.matrix.makeTranslation(
                    ( (x + i) * 130 ) - 1300 ,
                    - ( y * 130 ),
                    1);
        }else {
            object.matrix.makeTranslation(
                    ( (x - i - 1) * 130 ) - 1300 ,
                    - ( y * 130 ),
                    1);
        }
        object.applyMatrix(rotation)
        return object
    }
}

Desk.prototype.Pile = function(x,y,a){
    var rotation = new THREE.Matrix4().makeRotationZ(a);
    return function(i){
        var object = new THREE.Object3D();
        object.matrix.makeTranslation(
                ( x * 130 ) - 1300,
                - ( y * 130 ),
                i+1);
        object.applyMatrix(rotation)
        return object
    }
}

Desk.prototype.Tile = function(x,y,a){
    var rotation = new THREE.Matrix4().makeRotationZ(a);
    return function(i){
        var object = new THREE.Object3D();
        object.matrix.makeTranslation(
                ( (x + i) * 130 ) - 1300 ,
                - ( y * 130 ),
                1);
        object.applyMatrix(rotation)
        return object
    }
}



function CardFront(i) {
    return '<img class="card" src="/cards/img/' + i + '.jpg"  alt="" />';
}

function CardBack(i) {
    return '<img class="card" src="/cards/cover/' + i + '.jpg"  alt="" />';
}


var allCard = {}

var Selectable = function(){
    this.selec = {}
    this.func = null
    this.subm = {}

}
Selectable.prototype.submit = function(uniq,name,index){
    if(name instanceof Array){
        for(var i =0;i!=name.length;i++){
            this.submit(uniq,name[i],i)
        }
        for(var j in this.subm){
            var b = false;
            for(var i =0;i!=name.length;i++){
                if(j == i){
                    b = true;
                    break;
                }
            }
            if(b){
                Translate(this.subm[i].object,{x:0,y:0,z:4000},1000);
            }
        }
    }else if(this.subm[name] == null){
        this.subm[name] =  new Element();
        this.subm[name].element.innerHTML='<button type="submit" class="btn btn-primary btn-block"><h2>'+name+'</h2></button>';
    }
    if(index == null){
        index = 0
    }

    var tmp = allCard[uniq].object.position
    Translate(this.subm[name].object,{x:tmp.x - 60 + (index % 2) * 100,y:tmp.y+200 + Math.floor(index/2)*100,z:tmp.z},1000)
}

Selectable.prototype.unsubmit = function(){
    for(var i in this.subm){
        Translate(this.subm[i].object,{x:0,y:0,z:4000},1000)
    }
}

Selectable.prototype.click = function(uniq){
    if(this.selec[uniq] == true){
        delete(this.selec[uniq])
        allCard[uniq].Unselectable()
        this.unsubmit()
    } else {
        this.removeall()
        this.selec[uniq] = true
        allCard[uniq].Selectable()
        if(typeof this.func == "function"){
            this.func(allCard[uniq])
        }
        this.submit(uniq,["Call","Place","Use"])
    }
}

Selectable.prototype.removeall = function(){
    for(var i in this.selec){
        if(this.selec[i] == true){
            allCard[i].Unselectable()
            delete(this.selec[i])
        }
    }
}


Selectable.prototype.register = function(func){
    this.func = func;
}

Selectable.prototype.unregister = function(){
    this.func = null
}



var Element = function(){
    this.element = document.createElement( 'div' );
    this.object =  new THREE.CSS3DSprite(this.element);
    this.object.position.x = 0;
    this.object.position.y = 0;
    this.object.position.z = 2000;
    scene.add( this.object );
}

var Card = function(uniq,master){
    var element = document.createElement( 'div' );
    element.innerHTML = CardFront(0);
    var element2 = document.createElement( 'div' );
    element2.innerHTML = CardBack(0);
    this.object = new THREE.CSS3DDoubleObject( element,element2 );
    this.object.position.x = Math.random() * 4000 - 2000;
    this.object.position.y = Math.random() * 4000 - 2000;
    this.object.position.z = 4000;
    this.uniq = uniq;
    this.hold = null;
    this.master = master;
    scene.add( this.object );
    element.id = "Card"+uniq
    element.hold = this
    element.onclick = function(){
        selectable.click(this.hold.uniq)
        console.dir(this.hold.uniq)

        //ws.SendMsg({{ key "Chan.Room.GameCardActionSelectable" }},{uniq:this.hold.uniq} ,function(e){
        //    console.dir(e)
        //});
    }
    element2.hold = element.hold
    element2.onclick = element.onclick
}
Card.prototype.placed = function(){
    if(this.hold!=null){
        return this.hold.placed(this.uniq)
    }
    return this
}

Card.prototype.SetFront = function(i){
    this.object.element.innerHTML = CardFront(i);
}

Card.prototype.SetBack = function(i){
    this.object.elementB.innerHTML = CardBack(i);
}

Card.prototype.Selectable = function(){
    this.object.element.className = "selectable"
    this.object.elementB.className = "selectable"
}

Card.prototype.Unselectable = function(){
    this.object.element.className = ""
    this.object.elementB.className = ""
}

Card.prototype.Move = function(pos){
    Translate(this.object,pos.position,1000)
}

Card.prototype.FaceUp = function(){
    Rotate(this.object,{y:0},1000)
}

Card.prototype.FaceDown = function(){
    Rotate(this.object,{y:PI},1000)
}

Card.prototype.Attack = function(){
    Rotate(this.object,{z:0},1000)
}

Card.prototype.Defense = function(){
    Rotate(this.object,{z:PI},1000)
}

Card.prototype.Stop = function(){
    TWEEN.remove(this.object)
}

var Cards = function (place) {
    this.place = place
    this.deck = []
}

Cards.prototype.placed = function(u){
    var i = this.index(u)
    if(i==this.length()-1){
        return this.pop()
    }
    if(i>=0){
        var c = this.deck.splice(i,1)[0]
        c.hold = null
        //this.flash()                                                                                                                                                                                                                                                                                                                                                                                                                                                               //this.flash()
        return c
    }
    return null
}

Cards.prototype.index = function(u){
    for(var i = 0; i!= this.deck.length;i++){
        if(this.deck[i].uniq == u){
            return i
        }
    }
    return -1
}

Cards.prototype.push = function(obj){
    var i = obj.placed()
    i.Stop()
    i.Move(this.place(this.length()))
    i.hold = this
    this.deck.push(i)
}

Cards.prototype.pop = function(){
    //i.Move(this.place.leave())
    var c= this.deck.pop()
    c.hold = null
    return c
}

Cards.prototype.length = function(){
    return this.deck.length
}

Cards.prototype.flash = function(){
    for(var i = 0; i!= this.deck.length;i++){
        this.deck[i].Move(this.place(i))
    }
}


var Shade = function(t){
    this.element = document.createElement( 'div' );
    this.element.className = "shade"
    this.element.innerHTML = t
    this.object =  new THREE.CSS3DObject(this.element);
    this.object.position.x = 0;
    this.object.position.y = 0;
    this.object.position.z = 2000;
    scene.add( this.object );
}

var Player = function(k,i,user){
    var c = new Desk(k)
    if(k==0){
        this.self = true;
    }
    this.index = i
    this.datum = (c.datum())(0)           //玩家资料显示位置
    var e = new Element();
    e.element.innerHTML="<h1>名字："+user.name+"</h1>"+"<h1>HP："+user.hp+"</h1>";
    e.element.className="flag0";
    Move(e.object,this.datum,1000)

    this.hand = new Cards(c.hand())    //手牌

    this.deck = new Cards(c.deck())    //卡组 40 ~ 60
    Move((new Shade("<h1>卡组图片</h1>")).object,this.deck.place(0),0)
    this.extra = new Cards(c.extra())   //额外卡组 <= 15 融合怪物 同调怪物 超量怪物
    Move((new Shade("<h1>融合图</h1>")).object,this.extra.place(0),0)
//    this.side= new Cards()    //副卡组 <= 15
    this.removed = new Cards(c.removed()) //排除卡
    Move((new Shade("<h1>除外图</h1>")).object,this.removed.place(0),0)
    this.grave = new Cards(c.grave())   //墓地
    Move((new Shade("<h1>墓地图</h1>")).object,this.grave.place(0),0)
    this.mzone = new Cards(c.mzone())   //怪物卡区 5
    for(var i =0;i!=5;i++){
        Move((new Shade("<h1>怪兽区"+i+"</h1>")).object,this.mzone.place(i),0)
    }

    this.szone = new Cards(c.szone())   //魔法卡陷阱卡区 5
    for(var i =0;i!=5;i++){
        Move((new Shade("<h1>魔陷区"+i+"</h1>")).object,this.szone.place(i),0)
    }
    this.field = new Cards(c.field())   //场地卡 5
    Move((new Shade("<h1>场地图</h1>")).object,this.field.place(0),0)


}


Player.prototype.moveCard = function(u,cards){
    if(typeof cards != "string" ){
        return
    }
    if(!(this[cards] instanceof Cards)){
        return
    }
    var c = allCard[u]
    if(c==null){
        return
    }
    this[cards].push(c)
}

var YGO = function(){
    this.players = []
    var t = this
    var flag = (new Desk(0)).flag()
    this.msg = new Element();
    this.msg.element.innerHTML="<h1>游戏开始</h1>";
    this.msg.element.className="flag0";
    Move(this.msg.object,(new Desk(0)).flagup(),1000)
    //var flags=["Draw","Standby","Main1","Battle","Main2","End"]
    this.flags=["INIT","DP","SP","MP1","BP","MP2","EP"]
    for(var i =0;i!=7;i++){
        var e = new Element();
        e.element.innerHTML="<h1>"+ this.flags[i]+ "</h1>";
        e.element.className="flag0";
        e.element.id = this.flags[i];
        this["flag"+i] = e;
        Move(e.object,flag(i),1000)
    }

    ws.SendMsg({{ key "Chan.Room.GameRegister" }},{} ,function(e){
        if(typeof e.method  == "string"){
            if(typeof t[e.method] == "function") {
                t[e.method](e.args);
            }
            else MsgErr(e.method)
        }
    });
}



YGO.prototype.flagName = function(args){
    var t = this.users[args.player]
    this["flag0"].element.innerHTML = "<h1>回合"+ args.round+"</h1>";
}

YGO.prototype.message = function(args) {
    MsgInfo(args.message)
    this.msg.element.innerHTML = "<h1>"+args.message+"</h1>"
}

YGO.prototype.selectCard = function(args){
    selectable.removeall()
    var t = this
    selectable.register(function(obj){
        //ws.SendMsg({{ key "Chan.Room.GameCardActionSelectable" }},{uniq:obj.uniq} ,null);
        //if(obj.master == YGO.players[args.master] && obj.master[args.pos] == obj.hold){
        console.dir(obj)
        console.dir(t.players)
        if(obj.master == t.players[args.master] && obj.master[args.pos] == obj.hold){
            ws.SendMsg({{ key "Chan.Room.GameCardActionSelectable" }},{uniq:obj.uniq} ,null);
        }else {
            obj.Unselectable()
        }
    })
}

YGO.prototype.finishSelect = function(args){
    selectable.removeall()
    selectable.unregister()
}

YGO.prototype.exprCard = function(args){
    var t = allCard[args.uniq];
    if(args.expr == (1 << 30)){
        t.FaceUp()
    }else if(args.expr == (1 << 29)){
        t.FaceDown()
    }
    if(args.expr == (1 << 28)){
        t.Attack()
    }else if(args.expr == (1 << 27)){
        t.Defense()
    }
}

YGO.prototype.flagStep = function(args){
    var t = this
    window.clearInterval(t.stepInterval)
    for(var i =1;i!=7;i++){
        var e = t["flag"+i].element
        e.innerHTML="<h1>"+ t.flags[i]+ "</h1>";
        if(args.step==i){
            e.className="flag1";
            if(typeof args.wait == "number" ){
                var ti = args.wait/1000000000;
                var tf = t.flags[i]
                var e1 = t["flag"+i].element
                e1.innerHTML="<h1>"+ tf+ "(" +ti+ "s)</h1>";
                t.stepInterval = window.setInterval(function(){
                    ti--
                    e1.innerHTML="<h1>"+ tf+ "(" +ti+ "s)</h1>";
                    if(ti == 0){
                        window.clearInterval(t.stepInterval)
                    }
                },1000)
            }
        }else{
            e.className="flag0";
        }
    }
}

YGO.prototype.flashCards = function(args){
    this.players[args.master][args.pos].flash()
}

YGO.prototype.moveCard = function(args){
    if(allCard[args.uniq] == null){
        allCard[args.uniq] = new Card(args.uniq,this.players[args.master]);
    }
    allCard[args.uniq].master.moveCard(args.uniq,args.pos)

}

YGO.prototype.setFront = function(args){
    allCard[args.uniq].SetFront(args.desk)
}


YGO.prototype.init = function(args){
    var t = this
    t.users = args.users;
    t.index = args.index;
    if(t.users instanceof Array) {
        for(var i = 0;i!=t.users.length;i++){
            var k = i + t.index;
            if(k >= t.users.length){
                k = k - t.users.length;
            }
            t.players[i] = new Player(k,i,t.users[i]);
        }
        MsgInfo("游戏开始")
    }else {
        MsgErr("初始化游戏错误");
    }
    return true;

}

YGO.prototype.over = function(){

}



function init() {
    var ygo = new YGO()
//    ws.Register({{ key "Chan.Room.Game" }},function(msg){
//        if(msg.status == "gameinit"){

//        }
    //MsgInfo(JSON.stringify(msg))
//    })
//    ws.SendMsg( {{ key "Chan.Room.Game" }} ,{hand:"init"})

}

function Tween(object, target, duration) {
    new TWEEN.Tween( object )
            .to( target, duration )
            .easing( TWEEN.Easing.Exponential.InOut )
            .start();
}

function Translate(object, target, duration){
    //TWEEN.remove(object)
    Tween(object.position,target,(Math.random() / 10 + 1) *  duration)
    //Tween(object.position,target,duration)
}

function Rotate(object, target, duration){
    //TWEEN.remove(object)
    Tween(object.rotation,target,(Math.random() / 10 + 1) *  duration)
    //Tween(object.rotation,target,duration)
}

function Move( object, target, duration ) {
    //TWEEN.remove(object)
    Translate(object,{ x: target.position.x, y: target.position.y, z: target.position.z },duration)
    Rotate(object,{ x: target.rotation.x, y: target.rotation.y, z: target.rotation.z },duration)
}

function Moves( objects, targets, duration ) {
    //TWEEN.removeAll();
    for ( var i = 0; i < objects.length; i ++ ) {
        Move(objects[ i ],targets[ i ],duration)
    }
}

function onWindowResize() {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize( window.innerWidth, window.innerHeight );
    render();
}

function animate() {
    requestAnimationFrame( animate );
    TWEEN.update();
    controls.update();
    render()
}

function render() {
    renderer.render( scene, camera );
}

function Start(){
    camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 10000 );
    camera.position.z = 2500;
    camera.position.y = -2500;


    scene = new THREE.Scene();
    renderer = new THREE.CSS3DRenderer();
    renderer.setSize( window.innerWidth, window.innerHeight );
    renderer.domElement.style.position = 'absolute';
    document.getElementById( 'container' ).appendChild( renderer.domElement );
    controls = new THREE.TrackballControls( camera, renderer.domElement );
//    controls.rotateSpeed = 0.5;
//    controls.minDistance = 500;
//    controls.maxDistance = 6000;
    controls.addEventListener( 'change', render );


    controls.noRotate = true;
    //controls.noZoom = true;
    controls.noPan = true;
    controls.noRoll = true;

    window.addEventListener( 'resize', onWindowResize, false );
    selectable = new Selectable();
    init();
    animate();
}

$('#ygo').hide();
</script>
</div>