<script>


    var Selectable = function(){
        this.selec = {}
        this.func = null
        this.subm = {}

    }
    Selectable.prototype.submit = function(uniq,name,index){
        console.dir(name)
        if(name instanceof Array){
            for(var i =0;i!=name.length;i++){
                this.submit(uniq,name[i],i)
            }
            for(var j in this.subm){
                var b = true;
                for(var i =0;i!=name.length;i++){
                    if(j == name[i]){
                        b = false;
                        break;
                    }
                }
                if(b){
                    Translate(this.subm[j].object,{x:0,y:0,z:4000},1000);
                }
            }
            return
        }else if(this.subm[name] == null){
            this.subm[name] =  new Element();

        }
        if(index == null){
            index = 0
        }
        var info
        if(name == 4) {
            info = "召唤"
        } else if(name == 8) {
            info = "覆盖"
        } else if(name == 16) {
            info = "使用"
        }
        this.subm[name].element.innerHTML='<button type="submit" class="btn btn-primary btn-block" onclick="WsSelectable(' + uniq + ',' + name + ');selectable.unsubmit()"><h2>'+info+'</h2></button>';

        var tmp = allCard[uniq].object.position
        Translate(this.subm[name].object,{x:tmp.x - 60 + (index % 2) * 100,y:tmp.y+220 + Math.floor(index/2)*100,z:tmp.z+10},1000)
    }

    Selectable.prototype.unsubmit = function(){
        for(var i in this.subm){
            Translate(this.subm[i].object,{x:0,y:0,z:4000},1000)
        }
    }

    Selectable.prototype.click = function(uniq){
        if(this.selec[uniq] == true){
            delete(this.selec[uniq])
            allCard[uniq].Unselectable()
        } else {
            this.selec[uniq] = true
            allCard[uniq].Selectable()
        }
        WsSelectable(uniq,0)
    }

    Selectable.prototype.removeall = function(){
        for(var i in this.selec){
            if(this.selec[i] == true){
                allCard[i].Unselectable()
                delete(this.selec[i])
            }
        }
    }


</script>