<!--登陆框-->

<div id="box-login" class="row clearfix">
	<div class="col-md-6 column">
		<div class="jumbotron well">
			<form name="login" action="javascript:login();" class="form-horizontal" role="form">
				<div class="form-group">
					<label for="inputUsername" class="control-label">What is your username?</label>
					<p></p>
					<input type="text" class="form-control" id="inputUsername" name="username" data-new-placeholder="Username" placeholder="Username"/>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="control-label">Do you have password?</label>
					<div class="radio">
						<input type="radio" name="user"  id="inputRadioNo" value="true"/><label for="inputRadioNo">No, I am a new customer.</label>
					</div>
					<div class="radio">
						<input type="radio" name="user" id="inputRadioYes" value="false"/><label for="inputRadioYes">Yes, I have a password:</label>
					</div>
					<p></p>
					<input type="password" class="form-control" id="inputPassword" name="password" data-new-placeholder="Password" placeholder="Password"/>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default btn-block">Log in</button>
					<div class="checkbox checkbox-inline">
						 <input type="checkbox" id="inputCheck" name="remember" value="true"/><label for="inputCheck">Remember me</label>
					</div>
				</div>
				<label> <a class="btn" href="#">Forgot your password?</a></label>
			</form>
		</div>
	</div>
</div>

<script>
	var login = function(){
		obj = document.login
		sub = {
			u: obj.username.value,
			p: obj.password.value
		}
		if(obj.user.value == "true"){
			ws.sendMsg({{ key "Auth.Users.Register" }},sub)
			Callback['{{ key "Auth.Users.Register" }}'] = function(r){
				console.log(r)
			}
		} else {
			ws.sendMsg( {{ key "Auth.Users.LogIn" }} ,sub)
			Callback['{{ key "Auth.Users.LogIn" }}'] = function(){
				cartoonSingle('#box-login','slideOutLeft',function(r){
					console.log(r)
					//$('#box-login').hide();
				}) 
			}
		}
	}
</script>