<script src="js/base64.js"></script>

<script>
	Base64.extendString();
	var Callback = {}
	//var ws = new WebSocket("ws://127.0.0.1:3006/");
	var ws = new WebSocket("ws://" +window.location.host + "/conn");
	ws.onopen = function(e){
		MsgInfo("Welcome back")
	};
	ws.onmessage = function(e){
		d = e.data.fromBase64()
		msg = JSON.parse(d.slice(4, d.length))
		this.event( d.charCodeAt(0), d.charCodeAt(1), d.charCodeAt(2), d.charCodeAt(3), msg )
	};
	
	ws.onclose = function(e){
		MsgInfo("Connect close")
	};
	
	ws.onerror = function(e){
	};
	
	ws.i = 0
	
	ws.sendMsg = function(c,msg) {
		if (this.readyState == this.OPEN) { 
			if(typeof msg != "string") {
				msg = JSON.stringify(msg)
			}

			this.i += 1;
			var cs = c.split(",");
			c1 = Number(cs[0]);
			c2 = Number(cs[1]);
			c3 = Number(cs[2]);
			console.log(this.i,c1,c2,c3,msg);
			var r = (String.fromCharCode(this.i & 0xFF, c1 & 0xFF, c2 & 0xFF, c3 & 0xFF) + msg).toBase64();
			this.send(r);  
		} 
	}
	
	ws.event = function(i, c1, c2, c3, msg){
		var n = c1 + "," + c2 + "," +c3
		var f = Callback[n]
		if((typeof msg.e == "string") && msg.e != ""){
			MsgErr(msg.e)
		}else if(typeof f == "function"){
			f(msg)
		}
		console.log(i,msg);
	};
	
	var Eval = function(code){ 
		if(!!(window.attachEvent && !window.opera)){ 
			execScript(code); 
		}else{ 
			window.eval(code); 
		} 
	} 
</script>