<script>
var Desk = function(scene, i) {
    this.scene = scene
    this.site = [
        1, 3,
        1, 5, //融合卡
        19, 1,
        19, 3, //墓地
        19, 5, //卡组
        4, 4, //魔陷
        7, 4,
        10, 4,
        13, 4,
        16, 4,
        4, 2, //怪兽
        7, 2,
        10, 2,
        13, 2,
        16, 2,
        7, 7, //手牌
        8, 7,
        9, 7,
        10, 7,
        11, 7,
        12, 7,
    ]
    this.x = 0;
    this.y = 0;

    if (i == 0) {
        this.angle = 0;
    } else if (i == 1) {
        this.angle = PI;
    } else if (i == 1) {
        this.angle = PI * 0.5;
    } else if (i == 1) {
        this.angle = PI * 1.5;
    }
}

Desk.prototype.flagup = function() {
    var object = new THREE.Object3D();
    object.position.x = 0;
    object.position.y = 50;
    return object;
}

Desk.prototype.flag = function() {
    var x = 2;
    var y = 0.5;
    var a = this.angle;
    return function(i, l) {
        var object = new THREE.Object3D();
        var rotation = new THREE.Matrix4().makeRotationZ(a);
        object.matrix.makeTranslation(
            ((x + i) * 200) - 1000, -(y * 150),
            0);
        object.applyMatrix(rotation);
        return object;
    }
}


Desk.prototype.datum = function() {
    var x = 5;
    var y = 7;
    var a = this.angle;
    return this.Pile(x, y, a);
}

Desk.prototype.deck = function(x, y) {
    var a = this.angle;
    return this.Pile(x, y, a);
}


Desk.prototype.hand = function() {
    var x = 7;
    var y = 6;
    var a = this.angle;
    return this.Tile(x, y, a);
}

Desk.prototype.mzone = function() {
    var x = 10;
    var y = 2;
    var a = this.angle;
    return this.Mid(x, y, a);
}


Desk.prototype.szone = function() {
    var x = 10;
    var y = 4;
    var a = this.angle;
    return this.Mid(x, y, a);
}

Desk.prototype.neaten = function(x, y) {

    var a = this.angle;
    return this.Matr(x, y, a);
}

Desk.prototype.Mid = function(x, y, a) {
    var rotation = new THREE.Matrix4().makeRotationZ(a);
    return function(i, l) {
        var object = new THREE.Object3D();
        if (i % 2 == 0) {
            object.matrix.makeTranslation(
                ((x + i) * 130) - 1300, -(y * 130),
                1);
        } else {
            object.matrix.makeTranslation(
                ((x - i - 1) * 130) - 1300, -(y * 130),
                1);
        }
        object.applyMatrix(rotation)
        return object
    }
}

Desk.prototype.Pile = function(x, y, a) {
    var rotation = new THREE.Matrix4().makeRotationZ(a);
    return function(i, l) {
        var object = new THREE.Object3D();
        object.matrix.makeTranslation(
            (x * 130) - 1300, -(y * 130),
            i + 1);
        object.applyMatrix(rotation)
        return object
    }
}

Desk.prototype.Tile = function(x, y, a) {
    var rotation = new THREE.Matrix4().makeRotationZ(a);
    return function(i, l) {
        var object = new THREE.Object3D();
        object.matrix.makeTranslation(
            ((x + i) * 130) - 1300, -(y * 130),
            1);
        object.applyMatrix(rotation)
        return object
    }
}
Desk.prototype.Matr = function(x, y, a) {
    var rotation = new THREE.Matrix4().makeRotationZ(a);
    return function(i, l) {
        var object = new THREE.Object3D();
        object.matrix.makeTranslation(
            ((x + i % 10) * 200) - 1000, -((y + parseInt(i / 10)) * 250),
            1);
        object.applyMatrix(rotation)
        return object
    }
}
</script>
