<script>

function WsSelectable(uniq,method) {
    ws.SendMsg({{ key "Chan.Room.GameCardActionSelectable" }},{uniq:uniq,method:method} ,null);
}

function WsGameRegister(f) {
    ws.SendMsg({{ key "Chan.Room.GameRegister" }},{} ,f);
}

function WsGameGetDeck(f) {
    ws.SendMsg({{ key "Chan.Room.GameGetDeck" }},{} ,f);
}

function WsGameSetDeck(args) {
    ws.SendMsg({{ key "Chan.Room.GameSetDeck" }},args ,null);
}

function WsCardFind(args,f) {
    ws.SendMsg({{ key "Chan.Room.CardFind" }},args ,f);
}

</script>